
<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>the best seller of Hitheme</p>
      <h1><span>Best</span> Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
        <div class="cart-main">
          <div class="discount">9%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img1.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img2.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img3.jpg" alt="product"></div>
          </div>
         <div class="image">
            <img src="{{url}}" alt="image">
          </div>
          
          
          <div class="cart-line">
            <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
              
            </ul>
            </div>
            </div>
          </div>
        
        <div class="content">
        <a href="">Indidid Tongue Bar</a>
        <div class="rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>  
        </div>
        <p><span class="money">$81.00<span class="old-price">$80.00</span></span></p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card">
        <div class="cart-main">
          <div class="discount">9%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img1.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/image1.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img5.jpg" alt="product"></div>
          </div>
         <div class="image">
            <img src="{{url}}" alt="image">
          </div>
          
          
          <div class="cart-line">
            <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
              
            </ul>
            </div>
            </div>
          </div>
        
        <div class="content">
        <a href="">Indidid Tongue Bar</a>
        <div class="rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>  
        </div>
        <p><span class="money">$81.00<span class="old-price">$80.00</span></span></p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="card">
        <div class="cart-main">
          <div class="discount">9%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img4.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/img2.jpg" alt="product"></div>
            <div class="p" (mouseover)="changeImage($event)"><img src="../assets/image1.jpg" alt="product"></div>
          </div>
         <div class="image">
            <img src="{{url}}" alt="image">
          </div>
          
          
          <div class="cart-line">
            <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-search"></i></a></li>
              
            </ul>
            </div>
            </div>
          </div>
        
        <div class="content">
        <a href="">Indidid Tongue Bar</a>
        <div class="rating">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star-o"></i>  
        </div>
        <p><span class="money">$81.00<span class="old-price">$80.00</span></span></p>
        </div>
      </div>
      </div>
      
    </div>
  </div>
</section>